/* css for the info display tables */
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    padding: 10px;
    text-align: center;
    margin-top: 90px;
}

.table-container {
    padding: 40px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

tr {
    background-color: rgb(236, 231, 231);
    color: black;
}

.darker_header {
    background-color: rgb(122, 121, 121);
    color: white;
}